# Dependencies
node_modules/

# Builds
.next/
out/

# Production
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/system files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Typescript
*.tsbuildinfo

# Next.js Cache (Turbopack / SWC)
.next/cache/
.next/static/chunks/*

# Local runtime data
package-lock.json
pnpm-lock.yaml
yarn.lock

# Optional: if using Turbo Repo / monorepo
turbo/